# Secrets
.env
.env.local
application-local.properties
application-dev.properties
secrets.properties

# IDE/Build files
.idea/
*.iml
target/
out/
.vscode/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class